version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: resumis
      POSTGRES_PASSWORD: resumis
      POSTGRES_DB: resumis_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/resumis
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://resumis:resumis@db:5432/resumis_development
      - REDIS_URL=redis://redis:6379/0
      - RAILS_ENV=development
      - RAILS_SERVE_STATIC_FILES=true
      - SECRET_KEY_BASE=dummy_key_for_development
    depends_on:
      - db
      - redis

  sidekiq:
    build: .
    command: bundle exec sidekiq -C config/sidekiq.yml
    volumes:
      - .:/resumis
    environment:
      - DATABASE_URL=postgresql://resumis:resumis@db:5432/resumis_development
      - REDIS_URL=redis://redis:6379/0
      - RAILS_ENV=development
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data:
